doctype html
html(lang="en") 
	head
		meta(charset="utf-8") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge") 
		meta(name="viewport", content="width=device-width, initial-scale=1") 
		meta(name="description", content="") 
		meta(name="author", content="Claudio Dumont") 
		title FTExperiencies
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	body

		.box-container
			.box.box__four-coluns.box--istambul.lazy-background
				.box__box__content
					.container
						h3 Turkey
						h2 Istambul
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
			.box.box__two-coluns.box--venice.lazy-background
				.box__box__content
					.container
						h3 Italy
						h2 Venice
			.box.box__one-coluns.box--berlin.lazy-background
				.box__box__content
					.container
						h3 Germany
						h2 Berlin
			.box.box__one-coluns.box--barcelona.lazy-background
				.box__box__content
					.container
						h3 Spain
						h2 Barcelona
				.container-information 
					
			.box.box__one-coluns.box--paris.lazy-background
				.box__box__content
					.container
						h3 France
						h2 Paris
			.box.box__one-coluns.box--amsterdam.lazy-background
				.box__box__content
					.container
						h3 Netherlands
						h2 Amsterdam
			.box.box__two-coluns.box--london.lazy-background
				.box__box__content
					.container
						h3 United Kingdom
						h2 London
					
script(src='assets/js/interface.min.js')


