doctype html
html(lang="en") 
	head
		meta(charset="utf-8") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge") 
		meta(name="viewport", content="width=device-width, initial-scale=1") 
		meta(name="description", content="") 
		meta(name="author", content="Claudio Dumont") 
		title Desafio valtech_
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	body

		main
			div.four-coluns.lagoa
				| valtech_
			div.two-coluns.venice
				| Venice - Italy
			div.one-coluns.berlin
				| Berlin - Germany
			div.one-coluns.barcelona
				| Barcelo - Spain
			div.one-coluns.paris
				| Paris - France
			div.one-coluns.amsterdam
				| Amsterdam - Netherlands
			div.two-coluns.london
				| London - United Kigdon




