doctype html
html(lang="en") 
	head
		meta(charset="utf-8") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge") 
		meta(name="viewport", content="width=device-width, initial-scale=1") 
		meta(name="description", content="") 
		meta(name="author", content="Claudio Dumont") 
		title Desafio valtech_
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	body

		.box-container
			.box.box__four-coluns.box--lagoa
				.box__box__content
					h3 Front-end
					h1 valtech_
					p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
			.box.box__two-coluns.box--venice
				.box__box__content
					h3 Italy
					h2 Venice
			.box.box__one-coluns.box--berlin
				.box__box__content
					h3 Germany
					h2 Berlin
			.box.box__one-coluns.box--barcelona
				.box__box__content
					h3 Spain
					h2 Barcelona
			.box.box__one-coluns.box--paris
				.box__box__content
					h3 France
					h2 Paris
			.box.box__one-coluns.box--amsterdam
				.box__box__content
					h3 Netherlands
					h2 Amsterdam
			.box.box__two-coluns.box--london
				.box__box__content
					h3 United Kingdom
					h2 London




