body {
	font-family: $font-default;
}	

h1 {
	text-indent: -999em;
	background: url(../images/valtech-logo.svg) no-repeat center;
	height: 50px;
	margin: 15px auto;

	@include breakpoint(mobileonly) {
  		height: 30px;
  	}
}

h2, h3 {
	color: $color-primary;
	text-transform: uppercase;
}

h2 {
	font-size: 28px;
	font-weight: 700;
}

h3 {
	color: $color-primary;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
}

.description {
	color: $color-primary;
	font-size: 16px;
	line-height: 25px;
    max-width: 60%;
    margin: 0 auto;
    font-weight: 300;
}

.box {
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@include transition(all 0.5s ease);
	
	&.lazy-background {
		background-image: url('../images/loading.gif');
	}

  	&:after {
  		content: '';
  		background: rgba(0,0,0,0.3);
  		width: 100%;
  		height: 100%;
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 0;
  	}
}

.box__box__content {
	text-align: center;
	z-index: 1;
}

.box--lagoa {
	&.lazy-background.visible {
		background-image: url('../images/lagoa.jpg'); 		
	}
}

.box--amsterdam {
	&.lazy-background.visible {
		background-image: url('../images/amsterdam.jpg'); 
	}
}

.box--barcelona {
	&.lazy-background.visible {
		background-image: url('../images/barcelona.jpg'); 	
	}
}

.box--berlin {
	&.lazy-background.visible {
		background-image: url('../images/berlin.jpg'); 	
	}
}

.box--london {
	&.lazy-background.visible {
		background-image: url('../images/london.jpg'); 	
	}
}

.box--paris {
	&.lazy-background.visible {
		background-image: url('../images/paris.jpg'); 	
	}	
}

.box--venice {
	&.lazy-background.visible {
		background-image: url('../images/venice.jpg'); 	
	}
}