.box-container {
	margin: 5vw auto;
	max-width: 940px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	@media (max-width: 736px) {
		padding: 20px;
	}
}

.box {
	box-sizing: border-box;
	margin-bottom: 20px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;

	@media (max-width: 736px) {
		&.box__four-coluns,
		&.box__three-coluns,
		&.box__two-coluns,
		&.box__one-coluns {
			min-height: 285px;	
			flex-grow: 4;
			max-width: none;
			width: 100%;
		}
	}
}

.box__four-coluns {
	flex-grow: 4;
	width: calc(100% - 10px);
	min-height: 525px;
	max-width: 940px;
}

.box__three-coluns {
	flex-grow: 3;
	width: calc(75% - 10px);
	min-height: 365px;
	max-width: 690px;
}

.box__two-coluns {
	flex-grow: 2;
	width: calc(50% - 10px);
	max-width: 460px;
	min-height: 365px;
}

.box__one-coluns {
	flex-grow: 1;
	width: calc(25% - 10px);
	max-width: 220px;
	min-height: 365px;
}